<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    <form th:action="@{/account/change-password}" th:object="${passwordChangeDto}" method="post">
     
        <div>
            <label>Old Password:</label>
            <input type="password" th:field="*{oldPassword}" required />
        </div>
        <div>
            <label>New Password:</label>
            <input type="password" th:field="*{newPassword}" required />
        </div>
        <div>
            <label>Confirm New Password:</label>
            <input type="password" th:field="*{confirmNewPassword}" required />
        </div>
        <button type="submit">Change Password</button>
    </form>
    <div th:if="${error}">
        <p th:text="${error}" style="color: red;"></p>
    </div>
    <div th:if="${message}">
        <p th:text="${message}" style="color: green;"></p>
    </div>
</body>
</html>
