<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi Mật Khẩu Thành Công</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
    </style>
    <script>
        setTimeout(function() {
            window.location.href = '/account/login';
        }, 2000);
    </script>
</head>
<body>
   <div th:if="${message}">
        <p th:text="${message}" style="color: green;"></p>
         <p>Đang chuyển hướng đến trang đăng nhập...</p>
    </div>
</body>
</html>