<!DOCTYPE html>
<html lang="en" ng-app="revenueApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revenue Chart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<div th:replace="/access/navadmin :: html"></div>
<body ng-controller="RevenueController">
    <canvas id="revenueChart" width="40" height="10"></canvas>
      <canvas id="roomCountChart" width="40" height="10"></canvas>
    <script>
        var app = angular.module('revenueApp', []);

        app.controller('RevenueController', function($scope, $http) {
            $http.get('/api/revenue').then(function(response) {
                var data = response.data;
                var labels = data.map(item => `Month ${item.month}`);
                var revenues = data.map(item => item.revenue);

                var ctx = document.getElementById('revenueChart').getContext('2d');
                var revenueChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Monthly Revenue',
                            data: revenues,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
            $http.get('/api/roomCount').then(function(response) {
                var data = response.data;
                var labels = data.map(item => `Month ${item.month}`);
                var roomCounts = data.map(item => item.roomCount);

                var ctx = document.getElementById('roomCountChart').getContext('2d');
                var roomCountChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Monthly Room Count',
                            data: roomCounts,
                            backgroundColor: 'rgba(153, 102, 255, 0.2)',
                            borderColor: 'rgba(153, 102, 255, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
        });
      
    </script>
</body>
</html>
