<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<main>
<h3 th:unless="${#request.remoteUser}">Chua dang nhap</h3>
<th:block th:if="${#request.remoteUser}">
<h3>Au</h3>
<ul>
  <li> [[${#request.remoteUser}]] </li>
  <li> [[${#request.isUserInRole("ADMIN")}]] </li>
</ul>
<ul th:object ="${#request.userPrincipal}">
  <li> [[*{name]] </li>
  <li> [[*{authorities}]]</li>
</ul>

</th:block>

</main>
</body>
</html>